MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=aifriends_db
DB_MYSQL_DSN=aifriends:123456@tcp(mysql:3306)/aifriends_db?charset=utf8mb4&parseTime=True&loc=Local
JWT_ACCESS_SECRET=你的长密钥1
JWT_REFRESH_SECRET=你的长密钥2

# api key
LLM_API_KEY=
LLM_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1

# qdrant api-key
QDRANT_API_KEY=

# grafana
GF_SECURITY_ADMIN_PASSWORD=123456

# meilisearch
MEILISEARCH_API_KEY=123456